name: CI Checks

concurrency:
  group: ci-${{ github.ref_name }}
  cancel-in-progress: true

on:
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]

jobs:
  lint-android:
    if: github.event.pull_request.draft == false
    name: Lint Android
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Java environment
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 21

      - name: Set up Android environment
        uses: android-actions/setup-android@v3

      - name: Lint Android source
        uses: gradle/gradle-build-action@v3
        with:
          arguments: lintDebug

  unit-tests:
    if: github.event.pull_request.draft == false
    name: Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Java environment
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 21

      - name: Set up Android environment
        uses: android-actions/setup-android@v3

      - name: Run unit tests
        uses: gradle/gradle-build-action@v3
        with:
          arguments: testDebugUnitTest
